<div fxLayout="column" fxLayoutGap="2%">
  <div class="functies flex-row">
    <mat-card class="card">
      <mat-form-field>
        <input matInput placeholder="Film titel" type="text" #filter />
      </mat-form-field>
      <button (click)="applyFilter(filter.value)" mat-raised-button>
        Zoek
      </button>
    </mat-card>

    <mat-card class="card">
      <mat-form-field>
        <mat-label>Genre</mat-label>
        <mat-select [(value)]="selected" (selectionChange)="filterGenre(selected)">
          <mat-option *ngFor="let genre of genres$ | async" [value]="genre.naam">
            {{ genre.naam }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!--<p>You selected: {{ selected }}</p>-->
    </mat-card>

    <mat-card class="card">
      <mat-form-field>
        <input matInput placeholder="jaar van film" type="number" #filterJaar />
      </mat-form-field>
      <button (click)="applyJaarFilter(filterJaar.value)" mat-raised-button>
        Zoek
      </button>
    </mat-card>
  </div>

  <div *ngIf="films$ | async as films">
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="start">
      <div class="film" *ngFor="let localFilm of films$ | async | filmFilter: filterFilmTitel"
        fxFlex="0 0 calc(35%-1.%)" fxFlex.xs="100%" style="padding-bottom: 10px;">
        <!-- fxFlex="0 0 calc(33.3%-0.5%)" -->
        <app-film [film]="localFilm"></app-film>
      </div>
    </div>
  </div>

  <div *ngIf="films$ | async as films">
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="start">
      <div class="film" *ngFor="let localFilm of films$ | async | filmGenreFilter: filterFilmGenre"
        fxFlex="0 0 calc(35%-1.%)" fxFlex.xs="100%" style="padding-bottom: 10px;">
        <!-- fxFlex="0 0 calc(33.3%-0.5%)" -->
        <app-film [film]="localFilm"></app-film>
      </div>
    </div>
  </div>


  <div *ngIf="films$ | async as films">
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="start">
      <div class="film" *ngFor="let localFilm of films$ | async | filmJaarFilter: filterFilmJaar"
        fxFlex="0 0 calc(35%-1.%)" fxFlex.xs="100%" style="padding-bottom: 10px;">
        <!-- fxFlex="0 0 calc(33.3%-0.5%)" -->
        <app-film [film]="localFilm"></app-film>
      </div>
    </div>
  </div>

  <ng-template #loadingOrError>
    <mat-card class="error" *ngIf="errorMessage">
      Error loading the recipe list: {{ errorMessage }}. <br />
      Please try again later.
    </mat-card>
  </ng-template>
</div>
