<mat-card *ngIf="film$ | async as film" style="margin-left: 1vw;">
  <div>
    <mat-card-header>
      <mat-card-title style="font-weight: bold;">
        <mat-icon>movie</mat-icon> {{ film.titel }}
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <tr>
        <td style="width: 700px;">
          <div>
            <mat-list class="filmInfo">
              <b>Jaar: </b>{{ film.jaar }} <br /><b>Duur: </b
              >{{ film.duur }} minuten <br /><b>Genre: </b>
              <div *ngFor="let genre of film.filmGenres" class="naamWeergave">
                <app-film-genre [filmGenre]="genre"></app-film-genre>
              </div>
              <br /><b>Regisseur: </b>{{ film.regisseur }} <br /><b
                >Schrijvers:
              </b>
              <div
                *ngFor="let schrijver of film.filmSchrijvers"
                class="naamWeergave"
              >
                <app-film-schrijver
                  [filmSchrijver]="schrijver"
                ></app-film-schrijver>
              </div>
              <br /><b>Acteurs: </b>
              <div *ngFor="let acteur of film.filmActeurs" class="naamWeergave">
                <app-film-acteur [filmActeur]="acteur"></app-film-acteur>
              </div>
              <br /><b>Productiebedrijf: </b>{{ film.productiebedrijf }}
              <br /><br /><b>Korte inhoud: </b><br />{{ film.korteInhoud }}
              <br /> <br /> <b>Thumbs up: </b> {{film.aantalDuimenOmhoog}}
              <!-- <div *ngIf="isLoggedIn()"></div>-->
            </mat-list>
          </div>
          <div *ngIf="isUserLoggedIn()">
            <button (click)="verwijderFilm()"  >
              <mat-icon>delete_forever</mat-icon>
            </button>

            <button (click)="upvote()" >
              <span class="material-icons">
                thumb_up
              </span>
             </button>
             <br>
             <span>Toevoegen aan eigen lijst</span>
            <button (click)="ToevoegenAanEigenLijst()" >
            <span class="material-icons">
              add
              </span>
            </button>
          </div>
        </td>
        <td style="width: 100px;"></td>
        <td>
          <div>
            <br />
            <img
              src="assets/images/{{ film.titel }}.jpg"
              style="height: 40em;"
              class="poster"
            />
          </div>
        </td>
      </tr>
    </mat-card-content>
  </div>
 
</mat-card>
<mat-card
  class="confirmation"
  *ngIf="confirmationMessage"
  data-cy="appConfirmation"
>
  {{ confirmationMessage }}
</mat-card>
