@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.backgroundColor {
  background-color: rgb(168, 16, 16);
  /* background-image: url(assets/images/operaGordijn.jpg);*/
}

.naamWeergave {
  display: inline-flex;
}

.filmInfo {
  font-size: 16px;
}

.mat-toolbar {
  font-weight: bold;
}


.header {
  background: rgb(168, 16, 16);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.mat-drawer-container {
  background-color: rgb(168, 16, 16);
}

.filmLijst {
  background-color: rgb(168, 16, 16);
  padding-left: 1vw;

}

.card {
  background-color: white;
  width: 15em;
  margin: 0px;
}

.functies {
  display: inline-block;
  box-sizing: border-box;
  display: flex;
  width: fit-content;
}

.loginCard {
  width: 20vw;
}

.registerCard {
  width: 25vw;
}
