@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.backgroundColor {
  background-color: rgb(168, 16, 16);
  background-image: url(assets/images/operaGordijn.jpg);
}

.naamWeergave {
  display: inline-flex;
}

.filmInfo {
  font-size: 16px;
}

.card {
  background-color: transparent;
  width: 15em;
  margin: 0px;
}

.functies {
  display: inline-block;
  box-sizing: border-box;
  display: flex;
  width: fit-content;
  background-color: white;
}
