@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.backgroundColor {
  background-color: rgb(168, 16, 16);
}

.naamWeergave {
  display: inline-flex;
}

.filmInfo {
  font-size: 16px;
  height: 21em; 

}
